strong { /*only applied to elements inside strong tag*/
        color: #7117ba;
	    background-color: #000000;
      }
      body { /*changed applied to WHOLE WEBSITE body*/
          background-color: #7b74dc;
          color: #c8bebe; /* red */
          font-family: cursive;
          font-size: 24pt;
      }
      #header { /*creating a id called header, meant for mainly 1 thing*/
          /*width: 100%;*/
          /*height: 100px;*/
          border: 2px solid #00ff00; /* green */
          margin-bottom: 100px; /*margin = space around element*/
          padding-left: 20px; /*space inside element between content and border*/
      }
      .red { /*creating a class called red, can be used for multiple elements*/
          background-color: #ff0000;
      }
      #content {
          letter-spacing: 5px;
      }
      #main {
          display: flex;
          justify-content: center;
          /*align-content: flex-start;*/
      }