div { /*little debugging code that adds a border too all div', just to help show borders during building portion*/
    /*border: 1px solid #000000;*/
}
* { /*people think this should be default*/
  box-sizing: border-box; /*tell the computer to always use the width we set, and add the padding inside of that instead of in addition to that.*/
}

body {
    background-color: #cbbda1;
}

#sidebar a { /*only a's within the sidebar id*/
    display: block; /*block = each link will exist in own row*/
    text-decoration: none;
    color: #b5e4e4;
    background-color: #7770d6;
    margin-bottom: 10px; /*helps space links out vertically*/
    padding: 5px;
    border-left: 5px solid #ffffff; /*adds thick solid border to left*/
    border-top: 5px solid #ffffff;
}

#sidebar a:hover { /*hover us a pseudoclass (only do if user is hovered over class)*/
  text-decoration: underline; /*link is underlined i hovered over*/
}

#container {
    display: flex; /*this will display elements in container side by side*/
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#sidebar {
    width: 200px;
    background-color: #8f8176;
}

#content {
    width: 600px;
    background-color: #e8d0b9;
}

#header {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #db9f65;
}

#footer {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #534538;
}

#header, #footer, #sidebar, #content { /*shortcut to add for multiple sections*/
  padding: 20px; /*space between the borders and content of each div*/
}